CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-cr660x=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_KERNEL_BUILD_USER="CR660x-OpenWrt"

# 无线驱动优化
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7615-firmware=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_wpad-openssl=y
