# Xiaomi AX6000 — same hardware profile as Redmi AX6000 (mt7986)
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000=y

CONFIG_PACKAGE_kmod-mt7986-firmware=y
CONFIG_PACKAGE_mt7986-wo-firmware=y
CONFIG_PACKAGE_kmod-leds-ws2812b=y
CONFIG_PACKAGE_wpad-openssl=y
