CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7986=y
CONFIG_TARGET_mediatek_mt7986_DEVICE_xiaomi_redmi-router-ax6000=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y

# AX6000 无线驱动
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7916-firmware=y
CONFIG_PACKAGE_wpad-openssl=y

# AX6000 硬件加速
CONFIG_PACKAGE_kmod-hwmon-mt7986=y