```config id="x86imm"
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

CONFIG_TARGET_ROOTFS_PARTSIZE=2048

CONFIG_TARGET_IMAGES_GZIP=y

CONFIG_DEVEL=y
CONFIG_CCACHE=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y

CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_nftables=y

CONFIG_PACKAGE_dnsmasq-full=y

CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_sing-box=y

CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_mosdns=y

CONFIG_PACKAGE_luci-app-turboacc=y

CONFIG_PACKAGE_ksmbd-server=y
CONFIG_PACKAGE_luci-app-ksmbd=y

CONFIG_PACKAGE_AdGuardHome=y

CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_luci-app-ttyd=y

CONFIG_ALL_NONSHARED=y
```
