# Xiaomi AX9000 — qualcommax ipq807x
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_xiaomi_ax9000=y

CONFIG_PACKAGE_ipq-wifi-xiaomi_ax9000=y
CONFIG_PACKAGE_kmod-ath11k-pci=y
CONFIG_PACKAGE_ath11k-firmware-qcn9074=y
CONFIG_PACKAGE_wpad-openssl=y
